/* ********** Font weights ********** */


.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-bold{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
.font-weight-bolder{
    font-weight: 800;
}
.font-weight-900{
    font-weight: 900;
}

/* ********** Italic ********** */

.font-italic{
    font-style: italic;
}

.font-color-white{
    color: white;
}
.font-color-grey{
    color: lightgray;
}

/* ********** Font Size ********** */

/* ********** Relative font sizes ********** */

.font-size-smaller{
    font-size: smaller;
}
.font-size-larger{
    font-size: larger;
}

/* ********** Absolute font sizes ********** */

.font-size-xx-small{
    font-size: xx-small;
}
.font-size-x-small{
    font-size: x-small;
}
.font-size-small{
    font-size: small;
}
.font-size-medium{
    font-size: medium;
}
.font-size-large{
    font-size: large;
}
.font-size-x-large{
    font-size: x-large;
}
.font-size-xx-large{
    font-size: xx-large;
}

/* ********** Design system font sizes in s1, s2 ********** */

.font-size-s1{                             /*s1=0.8rem = 8px*/
    font-size: var(--s1);
}
.font-size-s2{                             
    font-size: var(--s2);
}
.font-size-s3{                             
    font-size: var(--s3);
}
.font-size-s4{                             
    font-size: var(--s4);
}
.font-size-s5{                             
    font-size: var(--s5);
}
.font-size-s6{                             
    font-size: var(--s6);
}
.font-size-s7{                             
    font-size: var(--s7);
}
.font-size-s8{                             
    font-size: var(--s8);
}
.font-size-s9{                             
    font-size: var(--s9);
}
.font-size-s10{                             
    font-size: var(--s10);
}


/* ********** Font size in rem********** */

.font-size-1rem{                             /*1rem= 10px*/
    font-size: 1rem;
}
.font-size-2rem{                             
    font-size: 2rem;
}
.font-size-3rem{                             
    font-size: 3rem;
}
.font-size-4rem{                             
    font-size: 4rem;
}
.font-size-5rem{                             
    font-size: 5rem;
}
.font-size-6rem{                             
    font-size: 6rem;
}
.font-size-7rem{                             
    font-size: 7rem;
}
.font-size-8rem{                             
    font-size: 8rem;
}
.font-size-9rem{                             
    font-size: 9rem;
}
.font-size-10rem{                             
    font-size: 10rem;
}