/* ********** General padding p-1 means padding: 1rem = 10px ********** */
.p-0 {
  padding: var(--s0);
}
.p-1 {
  padding: var(--s1);
}
.p-2 {
  padding: var(--s2);
}
.p-3 {
  padding: var(--s3);
}
.p-4 {
  padding: var(--s4);
}
.p-5 {
  padding: var(--s5);
}
.p-6 {
  padding: var(--s6);
}
.p-7 {
  padding: var(--s7);
}
.p-8 {
  padding: var(--s8);
}
.p-9 {
  padding: var(--s9);
}
.p-10 {
  padding: var(--s10);
}

/* ********** Y axis padding ********** */

.py-1 {
  padding-top: var(--s1);
  padding-bottom: var(--s1);
}
.py-2 {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}
.py-3 {
  padding-top: var(--s3);
  padding-bottom: var(--s3);
}
.py-4 {
  padding-top: var(--s4);
  padding-bottom: var(--s4);
}
.py-5 {
  padding-top: var(--s5);
  padding-bottom: var(--s5);
}
.py-6 {
  padding-top: var(--s6);
  padding-bottom: var(--s6);
}
.py-7 {
  padding-top: var(--s7);
  padding-bottom: var(--s7);
}
.py-8 {
  padding-top: var(--s8);
  padding-bottom: var(--s8);
}
.py-9 {
  padding-top: var(--s9);
  padding-bottom: var(--s9);
}
.py-10 {
  padding-top: var(--s10);
  padding-bottom: var(--s10);
}

/* ********** X axis padding ********** */

.px-1 {
  padding-left: var(--s1);
  padding-right: var(--s1);
}
.px-2 {
  padding-left: var(--s2);
  padding-right: var(--s2);
}
.px-3 {
  padding-left: var(--s3);
  padding-right: var(--s3);
}
.px-4 {
  padding-left: var(--s4);
  padding-right: var(--s4);
}
.px-5 {
  padding-left: var(--s5);
  padding-right: var(--s5);
}
.px-6 {
  padding-left: var(--s6);
  padding-right: var(--s6);
}
.px-7 {
  padding-left: var(--s7);
  padding-right: var(--s7);
}
.px-8 {
  padding-left: var(--s8);
  padding-right: var(--s8);
}
.px-9 {
  padding-left: var(--s9);
  padding-right: var(--s9);
}
.px-10 {
  padding-left: var(--s10);
  padding-right: var(--s10);
}

/* ********** Auto padding ********** */

.p-auto {
  padding: auto;
}
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}
.pb-auto {
  padding-bottom: auto;
}
.pt-auto {
  padding-top: auto;
}

.pb-0{
  padding-bottom: 0;
}