* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-spacing: 1px;
  line-height: var(--s3);
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* headings */
h1 {
  font-size: var(--s6);
  line-height: var(--s8);
}

h2 {
  font-size: var(--s4);
  line-height: var(--s5);
}

h3 {
  font-size: var(--s3);
  line-height: var(--s4);
}

h4 {
  font-size: var(--s2);
  line-height: var(--s3);
}

h5 {
  font-size: var(--s1);
  line-height: var(--s2);
}

h6 {
  font-size: var(--s1);
  line-height: var(--s2);
}

/* media */
img,
iframe,
video {
  max-inline-size: 100%;
  /* block-size: auto; */
}

/* list */
ul {
  list-style: none;
}

/* text */
a,
p,
label,
button,
article {
  font-size: 1.6rem;
}
