/* ************* Define variables for colors and sizes here**************** */
:root {
  /* *************** Standard sizes 1rem = 10px ******************* */
  --s0: 0rem;
  --s1: 0.8rem;
  --s2: 1.6rem;
  --s3: 2.4rem;
  --s4: 3.2rem;
  --s5: 4rem;
  --s6: 4.8rem;
  --s7: 5.6rem;
  --s8: 6.4rem;
  --s9: 7.2rem;
  --s10: 8rem;
  --s11: 8.8rem;
  --s12: 9.6rem;
  --s13: 10.4rem;
  --s14: 11.2rem;
  --s15: 12rem;
  --s16: 12.8rem;

  /* ****************** Colors for UI ********************** */
  --primary-color: #0d0c1d;
  --accent-color: #00b2ca; /*00B2CA*/
  --white: #f5f5f5;
  --black: #000000;
  --red: #ff0000;
  --blue: #0000ff;
  --green: #008000;
  --grey:#808080;
  --lightgray: #d3d3d3ab;
  --example-box-color: #e4e0e0;
  --dark-mode-color: #1A202C; /*#2021248*/
  --dark-mode-color-2: #202124; /*#2021248*/
  --sidebar-item-hover: #d3d3d367;
  --menu-icon-hover: #3f3c3c;

  /* ****************** Alert background colors ********************** */
  --alert-background-success: #b3f1c3;
  --alert-background-tip: #d3d3d3d2;
  --alert-background-warning: #fad79c;
  --alert-background-danger: #f5ac9f;
  --alert-background-info: #aad7ff;

  /* ****************** Alert font and icon colors ********************** */
  --alert-fontcolor-success: #008000;
  --alert-fontcolor-tip: #666666;
  --alert-fontcolor-warning: #fd7a00;
  --alert-fontcolor-danger: #ff0000;
  --alert-fontcolor-info: #002fff;

  /* ****************** Btn colors ********************** */
  --btn-color-danger: #f53100;
  --btn-color-confirm: #1f75cb;
  --btn-color-danger-hover: #c52700;
  --btn-color-confirm-hover: #1d66af;
  --btn-color-grey: #666666;
  
  /* ****************** Btn colors ********************** */
  --color-success: #90ee90;
  --color-error: #ff7070;
  
  --box-shadow: 0px 3px 6px 0px #51555f7d;
  
  /* ****************** Card colors ********************** */
  --card-rating-color: #388E3C;
}

