.input{
    border-radius: 4px;
    min-width: 30%;
    margin: 1rem;
    padding: 0 2rem;
}
.input:focus{
    border: 2px solid var(--grey);
}
.input-error{
    border: 2px solid var(--color-error);
}
.input-error:focus{
    border: 2px solid var(--color-error);
}
.input-success{
    border: 2px solid var(--color-success);
}
.input-success:focus{
    border: 2px solid var(--color-success);
}