.navigation-h{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.navigation-h ul{
    display: flex;
    align-items: center;
}
