/* Basic styles, fonts and media queries for Orca UI */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Grid layout for component library */
.main-wrapper {
  display: grid;
  width: 100%;
  grid-template-areas:
    "d h h h h"
    "d c c c c"
    "d c c c c"
    "d fn fn fn fn"
    "d f f f f";
  }
  /* Dark mode class */
.dark-mode{
    background-color: var(--dark-mode-color-2);
    color: var(--white);
}
.logo {
  width: 10vh;
  height: 10vh;
}
.header {
  position: sticky;
  top: 0;
  grid-area: h;
  height: 13vh;
  min-height: 10rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: ease-in-out 1s;
}
.sidebar {
  grid-area: d;
  overflow-y: auto;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 25rem;
  box-shadow: 4px 4px 8px 0px var(--accent-color);
  font-size: var(--s2);
}
.footer {
  grid-area: f;
  background-color: var(--primary-color);
  height: 20vh;
  margin: 0;
  z-index: 9;
  color: var(--white);
  width: 100%;
}
.footer-navigation {
  grid-area: fn;
  height: 5vh;
}
.main-content {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  grid-area: c;
  transition: ease-in-out 1s;
}
.sidebar-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.2rem;
  margin: 1.6rem;
  padding-left: 5rem;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: var(--sidebar-item-hover);
  cursor: pointer;
  transition: 0.3s;
}
.list-item-active {
  background-color: var(--lightgray);
  color: var(--accent-color);
}
.sidebar-heading {
  text-align: left;
  margin-left: 4rem;
  padding: 1.6rem 0rem 1rem 0rem;
}
.sidebar-main-heading {
  color: var(--accent-color);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  height: 13vh;
  font-weight: bolder;
  border-bottom: 2px solid var(--accent-color);
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
.example-box {
  width: 100%;
  background-color: var(--example-box-color);
  padding: var(--s2);
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--accent-color);
  flex-wrap: wrap;
}
.logo {
  height: 5rem;
  width: 7rem;
}
.logo-heading {
  color: var(--white);
  padding-left: 1rem;
  display: block;
}
.logo-heading:hover,
.logo:hover {
  color: var(--accent-color);
  transition: 0.3s;
  scale: 1.1;
  fill: var(--accent-color);
}
.logo-container {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}
code,
.code {
  background-color: var(--lightgray);
  border-radius: 2px;
  padding: 0rem 1rem;
}
.nav-links {
  color: var(--white);
}
.nav-link-items:hover {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 3px;
  transition: 0.2s;
}
.footer-links:hover {
  color: var(--accent-color);
}
.menu-icon:hover, .theme-icon:hover{
  background-color: var(--menu-icon-hover);
  border-radius: 50%;
  scale: 1.1;
  transition: 0.3s;
}
.menu-icon {
  font-size: 8rem;
  padding: 1rem;
  border-radius: 50%;
  height: 100%;
  color: var(--white);
}
.footer-navigation button {
  border-radius: 3px;
  color: var(--accent-color);
}
.footer-navigation .footer-nav-prev:hover {
  background-color: var(--accent-color);
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  transform: translateX(-1rem);
  color: var(--white);
  scale: 1.05;
}
.footer-navigation .footer-nav-next:hover {
  background-color: var(--accent-color);
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  transform: translateX(1rem);
  color: var(--white);
  scale: 1.05;
}
.main-content-index {
  height: max-content;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index-heading {
  text-align: center;
  line-height: 8rem;
  width: 90%;
  margin: auto;
}
.get-started-btn {
  padding: 2rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
  border: 2px solid var(--accent-color);
}
.get-started-btn:hover {
  background-color: var(--accent-color);
  transition: ease-in-out 0.5s;
  transform: translateX(1rem);
  color: var(--white);
  scale: 1.1;
}
.index-center-logo {
  width: 80%;
  height: 50vh;
  min-width: 200px;
  min-height: 200px;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid var(--accent-color);
}
ol li {
  font-size: var(--s2);
}


@media screen and (max-width:425px){
  :root{
    font-size: 6px;
  }
  .header{
    height: 10rem;
  }
  .header .logo-container{
    margin: 0;
  }
  .header .nav-links{
    margin-right: 0;
    display: flex;
    justify-content: end;
    margin-left: 0;
  }
  .logo-container h2{
    width: max-content;
  }
  .main-wrapper .footer-navigation{
    padding: 0;
  }
  .main-wrapper .footer{
    height: 20rem;
    font-size: larger;
  }
  .main-wrapper {
    grid-template-areas:
      "h h h h"
      "d d d d"
      "c c c c"
      "c c c c"
      "fn fn fn fn"
      "f f f f";
  }
  .main-wrapper .sidebar{
    display: none;
    width: 100%;
    height: 20vh;
    z-index: 200;
    position: sticky;
    top: 10rem;
    background-color: white;
  }
  .logo-container .logo-heading{
    display: none;
  }

}